<div
  class="flex h-full flex-col items-center justify-center rounded-lg p-6 text-red-700 shadow-md"
>
  <svg
    class="mb-2 h-12 w-12 text-red-600"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="currentColor"
  >
    <path
      fill-rule="evenodd"
      d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2ZM11 7a1 1 0 0 1 2 0v5a1 1 0 0 1-2 0Zm1 8.5a1.5 1.5 0 1 1 1.5-1.5 1.5 1.5 0 0 1-1.5 1.5Z"
      clip-rule="evenodd"
    />
  </svg>
  <p class="text-lg font-semibold">Oops! Something went wrong.</p>
  <p class="text-sm">We couldn't fetch the data. Please try again later.</p>
</div>
